@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:wght@400;700&display=swap');

/* Define variables */
$body-color: #007bff;
$button-hover-color: #0056b3;
$border-color: #ccc;
$light-gray: #f9f9f9;
$dark-gray: #000;

/* Set general font */
body, 
.register-form-container, 
h1, 
label, 
input, 
button, 
select {
  font-family: 'Ubuntu Sans', sans-serif;
}

/* Set up the input password section */
.password-input-container {
  position: relative;

  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

/* Set up the register form */
.register-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $light-gray;
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: 5px;
  max-width: 800px;
  width: 100%;

  h1 {
    text-align: center;
    width: 100%;
  }

  form {
    display: flex;
    flex-wrap: wrap;

    .form-group {
      width: 50%;
      padding: 0 10px;
      box-sizing: border-box;

      label {
        margin-bottom: 5px;
        display: block;
      }

      input, 
      select {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid $border-color;
        border-radius: 3px;
        width: 100%;
        box-sizing: border-box;
      }
    }

    .full-width {
      width: 100%;
    }

    button {
      padding: 10px 15px;
      background-color: $body-color;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      width: 100%;
      box-sizing: border-box;

      &:hover {
        background-color: $button-hover-color;
      }
    }
  }

  .login-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;

    .login-link {
      text-decoration: none;
      color: $dark-gray;

      &:hover {
        text-decoration: underline;
        color: $body-color;
      }
    }
  }
}

/* Responsive styles for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .register-form-container {
    padding: 15px;

    h1 {
      font-size: 1.5rem;
    }

    .form-group {
      width: 100%;
      padding: 0;
    }

    input,
    select {
      padding: 6px;
    }

    button {
      padding: 8px 12px;
    }
  }
}

/* Responsive styles for screens with a maximum width of 480px */
@media (max-width: 480px) {
  .register-form-container {
    padding: 10px;

    h1 {
      font-size: 1.2rem;
    }

    .form-group {
      width: 100%;
      padding: 0;
    }

    input,
    select {
      padding: 4px;
    }

    button {
      padding: 6px 10px;
    }
  }
}
